/* Pokemon.css - Une librairie CSS inspirée de l'univers des Pokémon (Revisitée) */

body {
	background-color: rgb(39, 39, 39);
    color: rgb(212, 212, 212);
}

.participant {
	color: rgb(39, 39, 39);
	background: rgb(233,233,233);
	background: linear-gradient(106deg, rgba(233,233,233,1) 0%, rgba(233,233,233,1) 66%, rgba(0,0,0,1) 66%, rgba(0,0,0,1) 68%, rgba(255,0,0,1) 68%, rgba(255,0,0,1) 100%);
}
.participant .remove {
	text-shadow: 2px 0 rgb(39, 39, 39), -2px 0 rgb(39, 39, 39), 0 2px rgb(39, 39, 39), 0 -2px rgb(39, 39, 39), 1px 1px rgb(39, 39, 39), -1px -1px rgb(39, 39, 39), 1px -1px rgb(39, 39, 39), -1px 1px rgb(39, 39, 39);
}

#most-used-mood {
	margin-top: 20px;
	height: 540px;
	background-image: url("./assets/pokedex.png");
	background-position: center;
	background-size: 823px;
	position: relative;
}

#most-used-mood span:nth-child(1) {
	position: absolute;
    width: 100%;
    top: 127px;
    left: 5px;
    font-size: 0.8em;
    color: #00e21e;
    font-weight: 600;
}
#most-used-mood img {
	position: absolute;
	top: 157px;
	left: 0;
	margin: 0 50%;
	transform: translateX(-50%);
}
#most-used-mood span:nth-child(5) {
	position: absolute;
    width: 100%;
    top: 311px;
    left: 5px;
    font-size: 0.8em;
    color: #00e21e;
    font-weight: 600;
}

#current-date {
	color: #ffcb09;
	text-shadow:
		4px 0 #306bb2,
		-4px 0 #306bb2,
		0 4px #306bb2,
		0 -4px #306bb2,
		2px 2px #306bb2,
		-2px -2px #306bb2,
		2px -2px #306bb2,
		-2px 2px #306bb2;
	font-family: 'Pokemon Solid', sans-serif;
	letter-spacing: 3px;
}
