html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100%;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

#current-date {
  margin: 10px auto;
  font-weight: bold;
  width: 55%;
  text-transform: capitalize;
}

.main-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.table-container {
  position: relative;
  margin: 0 auto;
  overflow-x: auto;
  flex: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  vertical-align: top;
}

th {
  background-color: #f4f4f4;
  font-size: 12px;
}

th img {
  width: 50px;
  height: auto;
}

.participants {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  max-width: 250px;
}

#participant-list {
  width: 100%;
  margin: 0 10px 10px;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
}

.participant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: grab;
}

.participant .remove {
  margin-left: 10px;
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.participant .remove:hover {
  color: darkred;
}

.participant.dragging {
  opacity: 0.5;
}

.add-participant-container,
.admin-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#new-participant {
  flex-grow: 1;
  padding: 5px;
  font-size: 12px;
}

#add-participant {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 5px;
}

#add-participant:hover {
  background-color: #218838;
}

.weather-container {
  width: 100%;
  padding: 6px;
}

.cell-active {
  background-color: #ffcccb;
}

.cell {
  height: 50px;
  vertical-align: top;
}

.cell.droppable {
  background-color: #f9f9f9;
  border: 2px dashed #ccc;
}

.top-btn-container {
  position: absolute;
  top: 25px;
  left: 20px;
  border: none !important;
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
}

.top-right-container {
  position: absolute;
  top: 25px;
  right: 20px;
  border: none !important;
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
}

.toggle-btn {
  border: 1px solid #ccc;
  color: #fff;
  padding: 2px 4px;
  cursor: pointer;
}

.toggle-btn:not(:first-child) {
  margin-left: 10px;
}

.footer-container {
  margin-top: 35px;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  cursor: pointer;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  cursor: pointer;
}
